:root { 
--gray_600:#7c7c7c; 
--gray_400:#c2c2c2; 
--orange_A700_26:#ff6c0a26; 
--blue_700:#1967d2; 
--amber_500:#fbbc05; 
--orange_A700:#ff6c0a; 
--orange_A700_33:#ff6c0a33; 
--red_500:#ea4335; 
--blue_A200:#4285f4; 
--green_800:#188038; 
--black_900_0c:#0000000c; 
--green_600:#34a853; 
--gray_50:#f8f8f8; 
--blue_gray_900_01:#33363f; 
--orange_A700_7f:#ff6c0a7f; 
--blue_gray_900:#333333; 
--white_A700:#ffffff; 
}